@@ -0,0 +1,9 @@
*Result Files
CrossSection/*-cs*.xns11
Results/*test*
UnitFlow/UnitFlow.res1d
UnitFlow/UnitFlowStruc-2.m1dx
Vida/Vida96-1.imported.xns11
Vida/Vida96-1.xns11.txt
Vida/vida96-3.m1dx
vidaUserData.myxml